
html{
  font-size: 62.5%;
  box-sizing: border-box;

}

body{
  margin:0;
  height: 100vh;
  font-size: 1.6 rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
.grid-container{
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5% auto 5%;
  height:100%;
  margin-bottom: 0px;
  
}

header{
  grid-area: header;
  background-color:#203040;
}
main{
  grid-area: main;
  padding: 1rem;

}
footer{
  grid-area: footer;
  background-color:#203040;
  color:white;

}
a:hover{
  color:#ff8000;
}
.logo{
  font-size: 3rem;
  font-weight: bold;
}
a{
  text-decoration: none;
}
header a{
  color:white;
  padding: 1rem;
}
.header-row{
  font-size: large;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

.footer-row{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.row.center{
  justify-content: center;
}

.row.top{
  margin-top: 1rem;
  align-items: flex-start;
}
img{
  border-radius: 0.5rem;
}

img.medium{
  max-width: 29rem;
  width: 100%;
}

img.large{
  max-width: 45rem;
  width: 100%;
}

.card{
  border:0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  
}
.price{
  font-size: 2rem;
}
.card-body{
  padding: 1rem;
}
.card-body >*{
  margin-bottom: 0.5rem;
}

.rating span{
  color:#f0c040;
  font-size:1.5rem;
  margin-bottom: 0.5rem;
}

.rating span:last-child{
  color: #404040;
}

.col-1{
  flex: 1 1 25rem
}
.col-2{
  
  flex: 2 1 50rem
}

.in-stock{
  color: green;
}
.out-of-stock{
  color:red;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border:0.1rem #a4a4a4;
  font-size: 1.6 rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  cursor:pointer;
  margin-bottom:1rem

}

.primary.add{
  background-color: #f0c040;
  width:100%;
}
button:hover{
  border:0.1rem #a8a8a8 solid;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;

}
.min-30 {
  min-width: 30rem;
}

.badge{
  background-color: orange;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size:1.4rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
.alert-danger{
  color:red;
  background-color: white;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
  font-size: 1.4rem;
}

.form{
  font-size: 1.4rem;
  margin: 0 auto;
  width: 35rem;
}

.form > div {
  
  display: flex;
  flex-direction: column;
  margin: 1rem;
  
}

.form label{
  margin: 1rem 0;
  display: block;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}